# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [3]:
string = "toto"
number = 10

### Convert `string` to unicode and `number` to float.

In [13]:
uni = u("toto")
flo = float(number)

NameError: name 'u' is not defined

### Reverse the contents of the variables `string` and `number` (from line 1).

In [14]:
reverStr = string[::-1]
reverNum = str(number)[::-1]
print(reverStr,reverNum)

('otot', '01')

## b) List

### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [30]:
first_list = [1, 3, 2, 7, 4, 10, 46]


### Display the first 3 items in `first_list` - in one line of code.

In [31]:
print(first_list[0:3])

[1, 3, 2]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [32]:
second_list = first_list[2:5]
print(second_list)

[2, 7, 4]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [33]:
third_list = first_list +(second_list)
print(first_list)

[1, 3, 2, 7, 4, 10, 46]

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [25]:
tuple_of_list = zip(first_list, second_list)
print(tuple_of_list)

[(1, 2), (3, 7), (2, 4)]

### Add the number 5 to `first_list`.

In [27]:
first_list.append(5)

### Add a null element to `third_list`.

In [34]:
third_list.append("")
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, '']

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [40]:
# Example : my_list=[1,2,3], n=2 --> [1,2,3,1,2,3]
def concatenate(my_list, n):
  my_list = my_list * n
    
  return my_list

concatenate([1,2,3], 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [45]:
def concatenate(my_list, n=2):
  my_list = my_list * n
    
  return my_list


print("--------")
concatenate([4,5])
print("---------")
concatenate([1,2,3], 4)

--------
---------

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [50]:
for elt in third_list:
  while elt > 0:
     print(elt)
     break

1
3
2
7
4
10
46
2
7
4

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [52]:
evenNum = []
for elt in first_list:
    if elt%2 == 0:
        evenNum.append(elt)
print(evenNum)
print(len(evenNum))

[2, 4, 10, 46]
4

### Rewrite the following expression with a multi-line `for` loop.

In [57]:
even_numbers = [element for element in first_list if element % 2 == 0]
print(even_numbers)

[2, 4, 10, 46]

In [55]:
even_numbers = []
for element in first_list:
    if element % 2 == 0:
       even_numbers.append(element)
        
        
print(even_numbers)

[2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [62]:
def firstLetter(string):
    print(string[0])
firstLetter("banana")

b

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [65]:
car = {'brand':'Frod', 'model': 'Mustang', 'year':1964}

### Access the `year` value.

In [66]:
car['year']

1964

###  Use a loop to display all the dictionary keys.

In [67]:
for key in car.keys():
    print(key)

brand
model
year

###  Use a loop to display all the dictionary values.

In [75]:
for value in car.values():
    print(value)

Frod
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

In [76]:
for item in enumerate(car.items()):
    
    print(item)

(0, ('brand', 'Frod'))
(1, ('model', 'Mustang'))
(2, ('year', 1964))

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
dict = {key:value for key, value in zip(list_1, list_2)}
```

In [84]:
list1 = ['cle_1', 'cle_2', 'cle_3']
list2 = car.values()
print(list2)
print(list1)
q = zip(list1, list2)
print(q)
dictt = {key:value for key, value in zip(list1, list2)}
print(dictt)

['Frod', 'Mustang', 1964]
['cle_1', 'cle_2', 'cle_3']
[('cle_1', 'Frod'), ('cle_2', 'Mustang'), ('cle_3', 1964)]
{'cle_2': 'Mustang', 'cle_3': 1964, 'cle_1': 'Frod'}

## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

In [95]:

def fibonacci(n):
    k = 0
    m = 1
    j = 0
    lijst = [0, 1]
    
    for i in range(1,n+1):
       
      while j < n:
        j = k + m
        lijst.append(j)
        print(lijst)
      
        k = m
        m = j
        
    print(lijst) 
    
fibonacci(100)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

### Create the same function using a generator
Ex : `generate_fibonacci(10) `